@import url('https://fonts.googleapis.com/css?family=Nunito|Orbitron');

body {
    background-image: url("/images/background.jpg");
}
a {
    outline-width:0px;
}
#main {
    background:#FFF;
    min-height:1000px;
    padding:0px !important;
}
.header {
    padding: 20px 0 20px 0;
    background-image: url("/images/background.jpg");
    position:relative;
}
.header_bg {
    position:absolute;
    right: 0px;
    top:23px;
    width:430px;
    height:182px;
}
.logo {
    padding-top:20px;
}
.logo a, .logo a:hover {
    text-decoration: none;
    outline-width: 0px;
}
.logo a:hover {
    color: #A0A0A0;
}
.logo img {
    display: inline-block;
    margin-top:-30px;
}
.clanColor {
    color: #173f73;
}
.clanShadow {
    text-shadow: 2px 2px #fff;
}
.logo a {
    color:#FFF;
    margin-top:10px;
    font-family:'Orbitron', sans-serif;
    font-weight:bold;
    font-size:40px;
}
/* Menu */
.menu * {
    font-family:'Orbitron', sans-serif;
    font-size:18px;
    font-weight:bold;
}
.menu .active  a.nav-link {
    color:#173f73 !important;
    text-shadow: 2px 2px #ffcc23;;
}
.menu .small small {
    font-size:80%;
}
/* Content */
.content {
    font-family:'Nunito', sans-serif;
    padding: 10px 20px;
}
.content * {
    font-family:'Nunito', sans-serif;
}
h1, h2, h3 {
    margin-top:20px;
}
.stats input {
    display: inline-block;
    height: 11px;
    vertical-align: middle;
    cursor:pointer;
}
.stats label {
    display: inline-block;
    padding-top: 2px;
    height: 12px;
    vertical-align: top;
    margin-right:30px;
    cursor:pointer;
}
.tabel_stats td {
    vertical-align: top;
    width: 32%;
}
.recruit-tank-list li {
    margin-bottom:30px;
}
/* TankDefinition images */
.med-tank {
    display: inline-block;
    border: solid #666;
    border-width: 1px 1px 1px 1px;
    margin:2px 0 2px 0;
}
.med-tank span {
    padding: 0 3px 0 3px;
    display: block;
    background:#fff;
    width:100%;
    border-bottom:1px solid #666;
}
/* Concurs*/
.concurs {
    width:100%;
}
.concurs .team {
    width: 20%;
    display:inline-block;
    border: solid #F0F0F0 1px;
    margin: 5px;
    padding: 10px;
}
.concurs .team-id {
    width: 70px;
    display: inline-block;
}
.concurs .group {
    width: 100%;
    margin-left:100px;
    display: inline-block;
}
.concurs .group span {

}
.concurs .group .group-teams {
    display: inline-block;
}
.concurs .group .group-teams li {
    font-size:34px;
}
.concurs .group table.clasament {
    margin-right: 100px;

}
.concurs .group table.clasament td {
    width: 20px;
}
.concurs .group table.clasament td:nth-child(1) {
    width: 70px;
}
.concurs .group .games {
    display: inline-block;
}
.concurs .group .games ol {
    list-style-type: none;
}
.concurs .group .games ol li {
    counter-increment: step-counter;
}
.concurs .group .games ol li:before {
    content: counter(step-counter);
    margin: 4px 5px 0 0;
    font-size: 80%;
    background-color: rgb(0,200,200);
    color: white;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 3px;
    float:left;
}
.concurs .group .games .match_action {
    text-decoration: none;
}
.concurs .group .games table {
    display: block;
    width: 100%;
}
.concurs .group .games table td {
    text-align: center;
}
.concurs .group .games table td input {
    font-size:12px;
    text-align: center;
}
.concurs .group .games table td:nth-child(1){
    width: 100px;
}
.concurs .group .games table td:nth-child(2){
    width: 10px;
    font-size:9px;
}
.concurs .group .games table td:nth-child(3){
    width: 100px;
}
.concurs .group .games table td:nth-child(4){
    width: 30px;
}
.clan_members table {
    width: 100%;
}
.clan_members th {
    width:10%;
}
.clan_members td {
    text-align: right;
    font-size:16px;
}
.sorting::after, .sorting_asc::after, .sorting_desc::after {
    margin-left: 20px;
}
.clan_members td span {
    width: 57px;
    display: inline-block;
    text-align: center;
    color: #FFF;
    border-radius: 15px;
    margin: 2px;
}
.member_tanks td span {
    width: 57px;
    display: inline-block;
    text-align: center;
    color: #FFF;
    border-radius: 15px;
    margin: 2px;
}

.member_tanks td  {
    padding:2px;
}
.player-online {background-color:#4D7326 !important; width: 25px !important;}
.wn8-superunicum {color:#401070 !important;}
.wn8-unicum {color:#793DB6 !important;}
.wn8-great {color:#3972C6 !important;}
.wn8-verygood {color:#4099BF !important;}
.wn8-good {color:#4D7326 !important;}
.wn8-aboveaverage {color:#849B24 !important;}
.wn8-average {color:#CCB800 !important;}
.wn8-belowaverage {color:#CC7A00 !important;}
.wn8-bad {color:#CD3333 !important;}
.wn8-verybad {color:#930D0D !important;}

.wn8-bg-superunicum {background-color:#401070 !important;}
.wn8-bg-unicum {background-color:#793DB6 !important;}
.wn8-bg-great {background-color:#3972C6 !important;}
.wn8-bg-verygood {background-color:#4099BF !important;}
.wn8-bg-good {background-color:#4D7326 !important;}
.wn8-bg-aboveaverage {background-color:#849B24 !important;}
.wn8-bg-average {background-color:#CCB800 !important;}
.wn8-bg-belowaverage {background-color:#CC7A00 !important;}
.wn8-bg-bad {background-color:#CD3333 !important;}
.wn8-bg-verybad {background-color:#930D0D !important;}